.lor {
    animation: lor 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes lor {
    0% {
        transform: translateX(-800px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.rol {
    animation: rol 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes rol {
    0% {
        transform: translateX(800px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}