:root {
    --primary-color: #33425B;
    --dark-grey: #6B7280;
    --off-white: #F3F4F6;
    --bg-color: #D8E9F0;
    --black: #29252C;
    --red: #F33535;
}

.int-btn {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.image-event {
    width: 100px;
    border-radius: 25%;
    margin-bottom: 0.5rem;
}

.link-register {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--black);
    color: white;
    border-radius: 00.5rem;
}

.lor {
    animation: lor 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes lor {
    0% {
        transform: translateX(-800px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

.rol {
    animation: rol 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes rol {
    0% {
        transform: translateX(800px);
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        visibility: visible;
    }
}